<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font: 16px Helvetica, Arial;
        }
        
        ul {
            list-style-type: none;
            padding: 5px 10px;
        }
        
        li {
            overflow-wrap: break-word;
            word-break: break-word;
        }
        
        #user_list,
        #room_list {
            margin: 10px;
            border: 2px solid black;
        }
        
        #user_list div,
        #room_list div {
            padding: 10px;
        }
        
        .chat_box {
            margin: 10px;
            /*width: 80%;*/
            border: 2px solid black;
        }
        
        .chat_form {
            background: #000;
            padding: 3px;
            margin: 20px;
            width: 80%;
        }
        
        .chat_form input {
            border: 0;
            padding: 10px;
            width: 70%;
            margin-right: .5%;
        }
        
        .chat_form button {
            width: 29%;
            background: rgb(16, 48, 141);
            border: none;
            padding: 10px;
        }
        
        .private_box {
            margin: 10px;
            border: 2px solid deepskyblue;
        }
        
        .private_form button {
            background: deepskyblue;
        }
    </style>
</head>

<body>
    <div id="room_list">
        <b>ROOMS</b>
        <div id="room"></div>
        <form id="room_form" action="">
            <input type="text" name="message" id="room_name" placeholder="enter room name..." autocomplete="off" /><button>CREATE ROOM</button>
        </form>
    </div>

    <div id="user_list">
        <b>USERS</b>
        <div id="user"></div>
    </div>

    <div class="container">
        <div class="chat_box" id="main_box"> <strong> Main Notification Box </strong>
            <ul id="main_msg"></ul>
            <form class="chat_form" id="main_msg_form" action="">
                <input type="text" name="message" id="main_m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>

    <div class="private_container">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            // connect to socket.io
            const socket = io();
            //===================================
            // after redirecting from login page -> get clientId and send to serveer
            let clientId = localStorage.getItem("id");
            socket.emit('send clientId', clientId);

            socket.on('connect', () => {
                // display in browser's title and on pages
                // $('#main_msg').append(`<li> You connected!</li>`);
            })

            socket.on('user connect', (connectClient, roomList, user) => {
                updateRoomList(roomList);
                updateUserList(user);
                $("#main_msg").append(`<li> ${connectClient.username} connected to the chat room </li>`);
            })

            socket.on('reconnect', (connectClient, roomList) => {
                console.log('reconnect');
                connectClient.room.forEach(roomId => createChatBox(roomId, roomList[roomId]));
            })

            socket.on('user disconnect', (clientName) => {
                $("#main_msg").append(`<li> ${clientName} disconnected from the chat room </li>`);
            })

            // create a the room chat when a new room is created
            socket.on('new room', (data) => {
                createChatBox(data.newRoomId, data.newRoomName);
                $(`#${data.newRoomId}_msg`).append(`<li><em> ${data.clientName} </em> created ${data.newRoomName}!</li>`);
            })

            socket.on('create room error', (clientName, err) => {
                $('#main_msg').append(`<li><em> ${clientName} </em> cannot created a new room!. ${err}</li>`);
            })

            // add a new room when an user joins
            socket.on('join room', (data) => {
                createChatBox(data.roomId, data.roomName);
                $(`#${data.roomId}_msg`).append(`<li><em> ${data.clientName} </em> joined ${data.roomName}!</li>`);
            })

            socket.on('join room error', (err) => {
                $('#main_msg').append(`<li><strong> ${err} </strong></li>`);
            })

            // remove the room when an user leaves
            socket.on('leave room', (data) => {
                $(`#${data.roomId}_box`).remove();
                $(`#main_msg`).append(`<li><em> ${data.clientName} </em> leaved ${data.roomName}!</li>`);
            })

            socket.on('leave room error', (err) => {
                $('#main_msg').append(`<li><strong> ${err} </strong></li>`);
            })

            // remove the room and update room list after deleting the room in server data
            socket.on('delete room', (roomId, roomName, roomList) => {
                $(`#${roomId}_box`).remove();
                updateRoomList(roomList);
                $('#main_msg').append(`<li><em> ${roomName} </em> is deleted !</li>`);
            })

            socket.on('delete room error', (err) => {
                $('#main_msg').append(`<li><strong> ${err} </strong></li>`);
            })

            // listener, whenever the server emits 'update room', this updates the room list
            socket.on('update room', (roomList) => {
                updateRoomList(roomList);
            })
            // receive the data sent back from server and display on page
            socket.on('chat message', (data) => {
                insertMsg(data.roomId, data.username, data.message);
            })

            //======================
            // PRIVATE MSG EVENTS
            //======================
            socket.on('create private chat', (roomId, roomName, senderName, receiverName) => {
                // check if the room div exist in html -> 0 = not exist, 1 = exist
                if ($(`#${roomId}_box`).length === 0) {
                    createPrivateChat(roomId, roomName);
                    $(`#${roomId}_msg`).append(`<li><em> ${senderName} </em> wants to send a private msg to ${receiverName}!</li>`);
                }
            })

            socket.on('private message', (data) => {
                if ($(`#${data.roomId}_box`).length === 0) {
                    createPrivateChat(data.roomId, data.roomName);
                }
                insertMsg(data.roomId, data.username, data.message);
            })

            //====================================
            // ADD EVENTS TO FORMS AND USERNAMES
            //====================================
            $('#room_form').submit(() => {
                let roomName = $('#room_name').val();
                //let chatter = $('#name').val();
                socket.emit('create room', roomName, clientId); //when have user info, send clientId as well
                $('#room_name').val('');
                return false; // will not reload the page
            })

            // when the form is submitted, the message is sent to server
            $('#main_msg_form').submit(() => {
                let message = $('#main_m').val();
                socket.emit('chat message', { roomId: "main", message: message });
                insertMsg("main", "Me", message);
                $('#main_m').val('').focus();
                return false; // will not reload the page
            })

            // update room function
            const updateRoomList = (roomList) => {
                $('#room').empty();
                $.each(roomList, (roomId, roomName) => {
                    $('#room').append(`<div id = ${roomId}> ${roomName} </div>`);
                    $(`#${roomId}`).append(`<button id = join_${roomId}>JOIN</button>`);
                    $(`#join_${roomId}`).click(() => {
                        socket.emit('join room', clientId, roomId);
                    });

                    $(`#${roomId}`).append(`<button id = leave_${roomId}>LEAVE</button>`);
                    $(`#leave_${roomId}`).click(() => {
                        socket.emit('leave room', clientId, roomId);
                    });

                    $(`#${roomId}`).append(`<button id = delete_${roomId}>DELETE</button>`);
                    $(`#delete_${roomId}`).click(() => {
                        socket.emit('delete room', clientId, roomId);
                    });
                });
            }

            const updateUserList = (user) => {
                $('#user').empty();
                $.each(user, (index, value) => {
                    $('#user').append(`<div id = ${value.id}> ${value.username} </div>`);
                    $(`#${value.id}`).append(`<button id = private_msg_${value.id}>CHAT</button>`);
                    $(`#private_msg_${value.id}`).click(() => {
                        if (clientId !== value.id) {
                            socket.emit('send private', clientId, value.id); // clientId = senderId, value.id = receiverId
                        }
                    });
                });
            }
            // when a new room is created -> create a new chat box div
            const createPrivateChat = (roomId, roomName) => {
                $('.private_container').append(`<div id=${roomId}_box class="private_box"> <strong> ${roomName} </strong> <ul id="${roomId}_msg"></ul> <form class="chat_form private_form"  id = "${roomId}_msg_form" action="">
            <input type="text" name="message" id="${roomId}_m" autocomplete="off" /><button>Send</button></form> </div>`);
                // add submit msg event to new chat box
                $(`#${roomId}_msg_form`).submit(() => {
                    let message = $(`#${roomId}_m`).val();
                    socket.emit('private message', { roomId: roomId, message: message });
                    insertMsg(roomId, "Me", message);
                    $(`#${roomId}_m`).val('').focus();
                    return false; // will not reload the page
                });
            }
            // when a new room is created -> create a new chat box div
            const createChatBox = (roomId, roomName) => {
                $('.container').append(`<div id=${roomId}_box class="chat_box"> <strong> ${roomName} </strong> <ul id="${roomId}_msg"></ul> <form class="chat_form" id = "${roomId}_msg_form" action="">
            <input type="text" name="message" id="${roomId}_m" autocomplete="off" /><button>Send</button></form> </div>`);
                // add submit msg event to new chat box
                $(`#${roomId}_msg_form`).submit(() => {
                    let message = $(`#${roomId}_m`).val();
                    socket.emit('chat message', { roomId: roomId, message: message });
                    insertMsg(roomId, "Me", message);
                    $(`#${roomId}_m`).val('').focus();
                    return false; // will not reload the page
                });
            }
            // insert messages on pages
            const insertMsg = (roomId, username, message) => {
                $(`#${roomId}_msg`).append(`<li><strong class="username">${username}</strong> : ${message}</li>`);
            }
        });
    </script>
</body>

</html>